.webmadewell {
  font-family: "montserrat", san-serif;
  background-color: AliceBlue;
}
body {
  margin: 0;
  font-size: 0.875em;

  color: rgb(15, 14, 14);
}
.body {
  background-size: cover;
}
div {
  box-sizing: border-box;
}
button {
  font-size: 1em;
  font-weight: bold;
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  outline: none;
}

.page-about {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 35%;

  height: 400px;
  margin-top: 40px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.page-about:nth-child(2) {
  background-color: rgb(255, 255, 255);
  margin-left: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.page-about:nth-child(3) {
  background-color: rgb(255, 255, 255);
  margin-left: 170px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.page-about:nth-child(4) {
  background-color: rgb(255, 255, 255);
  margin-left: 150px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.page-about:nth-child(5) {
  background-color: rgb(255, 255, 255);
  margin-left: 170px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.page-about:nth-child(6) {
  background-color: white;
  margin-left: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.left-side {
  position: absolute;
  width: 50%;
  padding: 40px;
  margin-top: 100px;
}
.profile-photo {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 100px;
  background-image: url("../img/leen.jpg");
  background-size: cover;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  animation: right_frame 2s ease-in-out 1 forwards;
}
.profile-photo1 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 100px;
  background-image: url("../img/omer.jpg");
  background-size: cover;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  animation: right_frame 2s ease-in-out 1 forwards;
}
.profile-photo2 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 100px;
  background-image: url("../img/hala.jpg");
  background-size: cover;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  animation: right_frame 2s ease-in-out 1 forwards;
}

.profile-photo3 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 100px;
  background-image: url("../img/zaid.jpeg");
  background-size: cover;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  animation: right_frame 2s ease-in-out 1 forwards;
}

.profile-photo4 {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 100px;
  background-image: url("../img/BASHAR.jpg");
  background-size: cover;
  background-size: cover;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  animation: right_frame 2s ease-in-out 1 forwards;
}

.right-side-info {
  position: relative;
  padding: 40px;
  width: 50%;
  margin-left: 100%;
  color: white;
  background-color: DimGray;
}
.show-info .left-side {
  padding-top: 220px;
}
.show-info button {
  background-color: MediumTurquoise;
}
.show-info button::before {
  content: "Less ";
}
.show-info .right-side-info {
  margin-left: 50%;
}
.left-side,
.right-side-info,
button {
  transition: all 0.5s ease-in-out;
}
.profile-photo {
  animation: right_frame 2s ease-in-out 1 forwards;
}

.show-info .profile-photo {
  animation: left_frame 2s ease-in-out 1 forwards;
}
@keyframes right_frame {
  0% {
    top: 40px;
    left: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  50% {
    top: 40px;
    left: 50%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  100% {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 50%;
  }
}
@keyframes left_frame {
  0% {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
  50% {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
  }
  100% {
    top: 40px;
    left: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
}
.social-container {
  display: inline-block;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.github {
  color: #202020;
}

a.instagram {
  color: rgb(105, 14, 60);
}

.header {
  text-align: center;
  margin-top: 5%;
  font-family: "Yomogi";
}
