
/* Profile Info */
#profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-top: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.userInfo {
    text-align: center;
    font-weight: 600;
}

#username {
    font-size: 23px;
}

#email {
    position:relative;
    bottom: 15px;
}

/* Adding bio */

#bioForm{
    position:relative;
    text-align:center;
    bottom: 10px;
}

#addBioButton {
    position:relative;
    background: #040f3d;
    color: white;
    font-weight: 600;
    border: none;
    text-align: center;
}

#addBioButton:hover {
    background-color: #040f3d83;
}

#addBioButton:active {
    background-color: #040f3d83;
    transform: translateY(4px);
    transition-duration: 1ms;
}

.addBar {
    height: 2em;
}

/* updateing bio */

#updateForm {
    text-align: center;
}

#updataButton {
    position:relative;
    background: #040f3d;
    color: white;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-top: 10px;
}

#updataButton:hover {
    background-color: #040f3d83;
}

#updataButton:active {
    background-color: #040f3d83;
    transform: translateY(4px);
    transition-duration: 1ms;
}

/* updateForm */

#updateForm {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* card Bio */


#cardBio {
    position: relative;
    text-align: center;
    width: 30%;
}